/* HEADER */
header {
    background-color: #773f1a;
    display: flex;
	align-items: center;
	justify-content: center;
}

header, main, footer {
    margin: 0 auto;
    max-width: 60rem;
} 

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
    font-size: 2.8rem;
    color: rgb(238, 238, 231);
}

.motto {
    font-style: italic;
    letter-spacing: 1.5pt;
    font-size: 1.2rem;
    color:white;
}

header img {
    width: 120px;
}

img {
    width: 100%
}







/* NAVIGATION */
nav {
	margin: 0 auto;
	max-width: 60rem;
	background-color: rgba(237, 236, 236, 0.8);
    color: black;
}

.nav-bar {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav-bar li:first-child {
    display: none;
}

.nav-bar li {
    display: block;
    flex: 1 1 100%;
}

.nav-bar li a {
    color: rgb(21, 85, 21);
    font-size: 1rem;
}

.nav-bar a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: rgb(21, 85, 21);
    font-weight: 700;
}

.nav-bar a:link {
    color: black;
}

.nav-bar a:visited {
    color: rgb(21, 85, 21);
}

.nav-bar a:hover {
    background-color: #773f1a;
    color: white;
}

nav a.default, nav a:active {
    background-color: #9b7053;
    Box-shadow: 0 0 10px #773f1a;
    color: rgb(238, 238, 231);
} 






/* WHOLE HTML */
* {
    margin: 0;
    box-sizing: border-box;
}






/* BODY */
body{
    background-color: white;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    margin: 0.15rem;
    color: rgb(4, 31, 4);
}

h2 {
    font-size: 1.7rem;
}

h2, h3 {
    font-family: 'Righteous', cursive;
    color: rgb(21, 85, 21);
}

h4, h5 {
    font-family: 'Righteous', cursive;
    color: black;
}

p.last-visit {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: 400;
}









/* FOOTER */
footer {
    text-align: center;
    background-color: #773f1a;
	padding: 10px;
    font-size: 1.1rem;
    color:white;
}

.update{
    font-size:12px;
    color:white;
}








/* PICTURES/IMAGES CSS */

div.place-holder {
    padding: 1rem;
    background-color: #eee;
    border: dashed 1px darkgray;
    margin-bottom: 20px;
    font-style: italic;
}

.pic-gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

p.pic-caption {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

picture.body-pic {
    border: 3px solid #555;
}

picture.body-pic:hover {
    box-shadow: 0 0 50px rgb(21, 85, 21);
}