@media only screen and (max-width: 649px) {
.nav-bar li:first-child {
	display: block;
}
.nav-bar li {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
}

.headings {
    margin-left: -15rem;
}

header img {
    width: 50%;
}

.headings h1 {
    font-size: 2rem;
}

.motto {
    font-size: 1rem;
}

h2 {
    font-size: 1.5rem;
}

.weatherSummary {
    padding: 10px;
    left: 3rem;
    background-color: rgba(237, 236, 236, 0.8);
    margin-top: -7rem;
}

.weatherSummary h3 {
    font-size: 1em;
    padding-bottom: 7px;
}

.weatherSummary span {
    line-height: 20px;
    font-size: 11.5px;
}

.forecastSec {
    display: none;
}


.responsive li {
	display: block;
}


}