@media only screen and (max-width: 649px) {
    .nav-bar li:first-child {
        display: block;
    }
    .nav-bar li {
        display: none;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-flow: column;
    }

    header img {
        width: 86px;
    }

    .headings h1 {
        font-size: 1.2rem;
    }

    .motto {
        font-size: 0.7rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    h2.homepage-title {
        font-size: 1.4rem;
    }


    .weatherSummary h3 {
        font-size: 1em;
        padding-bottom: 7px;
    }

    .weatherSummary span {
        line-height: 15px;
        font-size: 11.5px;
    }

    .forecastSec {
        display: none;
    }

    #towns {
        grid-template-columns: 1fr;
    }
    #towns > .info img {
        max-width: 140%;
        position: absolute;
        left: calc(-20%);
        margin: 0 auto;
        width: 140%;
        top: -150px;
        z-index: 3;
    }
    #towns > .info {
        position: relative;
        align-items: center;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 200px;
        box-shadow: none;
        display: block;
        width: 60%;
        z-index: 4;
        padding: 0;
    }
    #towns > .info .writings {
        border-radius: 10px;
        box-shadow: 3px 3px 10px black;
        background: rgba(255,255,255,0.8);
        position: relative;
        margin: 0 auto;
        padding: 1em;
        z-index: 4;
    }

    h3.newsHeading {
        font-size: 1.1rem;
    }

    form {
        max-width: 450px;
    }

    .pic-gallery {
        grid-template-columns: 1fr;
    }

    .body-pic:hover {
        box-shadow: none;
    }

    .responsive li {
        display: block;
    }

    /* TOWN PAGES EVENTS */
    div.events {
        max-width: 25rem;
        padding: 0.7rem;
        line-height: 25x;
    }

    div h2.events {
        font-size: 1.3rem;
    }

}