header {
    background-color: #df9e3dda;
    display: flex;
	align-items: center;
	justify-content: center;
}
header img {
    width: 150px;
}
body {
    background-color: white;
}
nav {
    margin: 0 auto;
    background-color: #df9e3dda;
    color: white;
    max-width: 85rem;
    padding-right: 20px;
    border-radius: 10px;
}
ul.nav-bar {
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0;
}
.nav-bar li {
    display: block;
    flex: 1 1 100%;
}
ul.nav-bar li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Days One', sans-serif;
    display: block;
    padding: 0.5rem;
    text-align: center;
}
ul.nav-bar a:hover, ul.nav-bar a:focus {
    color: rgb(61, 31, 196);
}
ul.nav-bar a.active {
    background-color: white;
    color: rgb(61, 31, 196);
    padding: 5px;
    box-shadow: 0 0 13px rgb(61, 31, 196);
    border-radius: 15px;
}
ul.nav-bar li:first-child {
    display: none;
}



    header, footer {
        margin: 0 auto;
        border-radius: 10px;
    }
    
    main {
        margin: 0 auto;
        max-width: 75rem;
        padding: 3px;
        background-color: white;
    }
    body {
        background-color: #df9e3d44;
    }

    section.contact-info {
        position: relative;
        padding: 10px;
        display: grid;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        max-width: 85rem;
        border-bottom: 1px solid black;
    }
    section.contact-info h5, div.contact-icons {
        grid-column: 1/2;
        text-align: start;
    }
    div.contact-icons {
        font-size: 15px;
    }
    div.social-media-icons {
        grid-column: 2/3;
        text-align: end;
        font-size: 15px;
    }

    div.social-media-icons img {
        width: 35px;
    }


    /* FOOTER */
    footer {
        max-width: 85rem;
        text-align: center;
        background-color: #df9e3dda;
        padding: 10px;
        font-size: 1.1rem;
        color:rgb(61, 31, 196);
    }

    .update{
        font-size:12px;
    }


    h1, h2, h3, h4 {
        font-family: 'Days One', sans-serif;
        color: #471147;
    }


    /* HOME PAGE SECTION 1 */
    .home-section-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8rem;
        margin: 2px 0px 0px 9px;
    }
    div.headings {
        grid-column: 1/2;
    }
    .headings h1 {
        font-size: 4rem;
    }
    .headings .motto {
        font-size: 1.5rem;
    }
    .purpose-container p {
        font-size: 25px;
    }
    .purpose-container {
        grid-column: 2/3;
        border-left: 1px solid black;
        padding: 10px;
    }
    .purpose-container:hover {
        background-color: rgba(48, 48, 135, 0.4);
        color: #FBF3F0;
        font-size: 15px;
        box-shadow: 0 0 13px rgb(61, 31, 196);
    }

    /* HOME PAGE SECTION 2 */
    .home-section-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 20px 0 20px 0;
    }
    .home-section-2 img, section.warriSection div.img-holder img {
        width: 100%;
        border-radius: 10px;
    }
    div.img-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    div.img-holder img {
        height: 400px;
    }
    div.warri-events {
        font-family: 'Cormorant Unicase', sans-serif;
    }

    .weather-summary,
    .weather-forecast {
    list-style-type: none;
    display: block;
    background-color: rgba(48, 48, 135, 0.4);
    color: #FBF3F0;
    font-size: 18px;
    padding: 20px;
    width: 400px;
    font-family: 'Cormorant Unicase', sans-serif;
    border-radius: 10px;
    }

    li.summary, li.forecast {
        font-family: 'Days One', sans-serif;
    }

    #condition, #temperature, #feels-like, #humidity, #temperature1, #temperature2, #temperature3 {
        color: rgb(61, 31, 196);
    }

    .home-section-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
    }


    div.adverts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 30px auto 20px;
    }
    div.adverts > .locals {
        width: calc(90% - 1em);
        margin: 30px auto;
        text-align: center;
        box-shadow: 3px 3px 10px black;
        border-radius: 10px;
        padding: 1em;
        font-family: 'Cormorant Unicase', sans-serif;
    }
    div.adverts > .locals img {
        height: 170px;
        max-width: 100%;
        border-radius: 10px;
    }
    div.adverts > .locals h4 {
        margin: 0;
        margin-top: 0.5em;
        letter-spacing: 2px;
    }
    section.advertisement h3 {
        font-size: 2rem;
        text-align: center;
        text-decoration:underline;
    }
    section.advertisement {
        margin-top: 3rem;
    }
    div.home-section-5 {
        border-radius: 10px;
        padding: 10px;
        background-color: rgba(48, 48, 135, 0.4);
        text-align: center;
    }
    .joinButton {
        align-content: center;
        background-color: white; 
        color: black;
        border: 2px solid white; 
        padding: 16px;
        text-align: center;
        text-decoration: none;
        font-family: 'Days One', sans-serif;
        font-size: 16px;
        margin: 0 auto;
        transition-duration: 0.4s;
        cursor: pointer;
        width: inherit;
    }
    .joinButton:hover {
        background-color: rgb(61, 31, 196);
        color: white;
    }

/* FORM CSS STORM CENTER PAGE*/
form {
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 600px;
}
fieldset {
    border: solid 2px black;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}
fieldset legend {
    padding: 0.25rem;
    font-family: 'Days One', sans-serif;
}
form label {
    font-size: 1em;
}
form div label {
    font-size: 1rem;
}
form label, form div {
    margin-top: 1rem;
    padding-bottom: 0.3rem;
}
form label span {
    color: red;
}
div label {
    margin-top: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
div input + label {
    padding-top: 0;
}
form input:not([type="range"]), form select, form textarea {
    outline: none;
    box-shadow: 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:not([type="range"]):not([type="radio"]):focus, form select:focus, form textarea:focus {
    box-shadow: 0 0 0 4px rgba(48, 48, 135, 0.4);
}
form label, form select {
    display: block;
    width: 100%;
}
form input {
    margin-top: 5px;
    width: calc(100% - 0.75rem * 2);
    padding: 0.75rem;
}
form input[type="range"] {
    width: 100%;
    padding: 0;
}
form select {
    margin-top: 5px;
    padding: 0.75rem;
}
form input, form select {
    background-color: #eeeeee;
    border: solid 1px rgba(48, 48, 135, 0.4);
    border-radius: 4px;
}
form input[type="submit"] {
    background-color: rgba(48, 48, 135, 0.4);
    color: white;
    text-shadow: 1px 1px 1px black;
    width: 100%;
    margin-top: 10px;
}
form input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(61, 31, 196);
}
form input:required:not(:valid) {
    box-shadow: inset 0 0 0 2px red, 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:required:valid {
    box-shadow: inset 0 0 0 2px rgb(61, 31, 196), 0 0 0 7px transparent;
    transition: box-shadow 0.3s;
}
form input:required:not(:valid):focus {
    box-shadow: inset 0 0 0 2px red, 0 0 0 4px rgb(61, 31, 196);
    transition: box-shadow 0.3s;
}
form input:required:valid:focus {
    box-shadow: inset 0 0 0 2px rgb(61, 31, 196), 0 0 0 4px rgb(61, 31, 196);
    transition: box-shadow 0.3s;
}
.asterisk {
    font-size: 2rem;
}
div.benefits {
    padding: 5px;
    border-radius: 20px;
    font-family: 'Cormorant Unicase', sans-serif;
    box-shadow: 0 0 13px rgb(61, 31, 196);
}
h1.directory-title {
    text-align: center;
}
div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 30px auto 20px;
}
div.cards > section {
    width: calc(90% - 1em);
    margin: 30px auto;
    text-align: center;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    padding: 1em;
    font-family: 'Cormorant Unicase', sans-serif;
}